In [6]:
import pandas as pd
import sqlite3
import os

# Create output folder if not exists
os.makedirs('loaded_data', exist_ok=True)

In [8]:
# Load full transformed data
full_df = pd.read_csv('transformed_full.csv')

# Connect to SQLite and load
conn_full = sqlite3.connect('loaded_data/full_data.db')
full_df.to_sql('full_data', conn_full, if_exists='replace', index=False)

print("Full data loaded into SQLite.")

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': database disk image is malformed

In [ ]:
# Load incremental transformed data
inc_df = pd.read_csv('transformed_incremental.csv')

# Connect to SQLite and load
conn_inc = sqlite3.connect('loaded_data/incremental_data.db')
inc_df.to_sql('incremental_data', conn_inc, if_exists='replace', index=False)

print("Incremental data loaded into SQLite.")

Incremental data loaded into SQLite.

In [ ]:
# Check top 5 from full_data
pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full)

,match_id,home_team,away_team,date,home_score,away_score,last_updated,goal_diff
0,1000,Liverpool,Real Madrid,2025-04-02,5,2,2025-04-02 03:58:00,3
1,1001,Liverpool,Arsenal,2025-04-02,5,0,2025-04-02 13:11:00,5
2,1002,Bayern,Barcelona,2025-04-03,0,5,2025-04-03 12:19:00,-5
3,1003,Man United,PSG,2025-04-03,1,4,2025-04-03 18:10:00,-3
4,1004,Bayern,Chelsea,2025-04-03,3,3,2025-04-03 14:01:00,0